.body {
  width: 1280px;
}

.logo {
  margin-left: 90px;
  text-decoration: none;

  font-size: 83px;
  width: 334px;
  height: 79px;
}
.logo_div {
  height: 79px;
  display: inline-block;
}

.logo_line {
  display: inline-block;

  line-height: 94px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 50px;
  width: 334px;
  height: 79px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.navbar {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  font-weight: 400;
  font-style: normal;

  width: 1283px;
  height: 72px;
  left: 0px;
  top: 117px;
  background: #35444f;
  margin-left: 98px;
  margin-top: 80px;
}
.navbar_item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  height: 27px;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 26px;
  padding-top: 19px;
  padding-left: 32px;
  padding-right: 32px;
  color: white;
  border-left: 1px white solid;
  border-right: 1px white solid;
}

.navbar_item:hover {
  background: #222f3a;
}

.menu {
  display: inline-block;
  align-items: center;
  flex-wrap: wrap;
  width: 344px;
  height: 400px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 330px;
  margin-left: 100px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  list-style-type: none;
  vertical-align: middle;
  padding-left: 0px;
  padding-top: 0;
}

.menu_item {
  display: inline-block;
  flex-wrap: wrap;
  text-align: left;

  font-style: normal;

  height: 54px;
  width: 314px;
  align-items: center;
  padding-left: 30px;
  padding-top: 26px;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.menu_item:hover {
  background: #dbdbdb;
  color: #35444f;
}

.container {
  display: inline-block;
  width: 870px;
  height: 733px;
  top: 300px;
  left: 496px;
  position: absolute;
  margin-left: 52px;
  justify-content: center;
  margin-top: 30px;
  font-size: 18px;
}
.center_logo:hover {
  transform: scale(1.2);
  transition: 1s;
}
.center_logo {
  padding-left: 280px;
  padding-top: 67px;
  padding-bottom: 73px;
  padding-right: 268px;
  background: rgba(0, 0, 0, 0.0001);
}
.logo_section {
  width: 870px;
  height: 524px;
  margin-top: 195px;
  margin-left: 548px;
  border: 1px solid #000000;
}

.text {
  display: inline-block;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  width: 870px;
  height: 120px;
  left: 0px;
  top: 566px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.accent_color {
  color: aqua;
}

.navbar_bottom {
  display: flex;
  align-items: center;
  justify-content: safe;
  font-weight: 400;
  font-style: normal;
  width: 1283px;

  left: 0px;
  top: 117px;
  background: rgba(99, 105, 110, 0.48);
  margin-left: 90px;
  margin-top: 560px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.navbar_bottom_item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  padding-bottom: 21px;
  padding-top: 20px;
  padding-left: 32px;
  padding-right: 32px;
  color: #0c1927;
}

.navbar_bottom_item:hover {
  color: #2d82a8;
  text-decoration: underline;
}

.navbar_bottom_item_Copyright {
  margin-left: 135px;
  font-style: normal;
  list-style-type: none;
  font-size: 24px;
  line-height: 24px;
  height: 28px;
  padding-bottom: 21px;
  font-family: "Roboto", sans-serif;

  align-items: center;
}
