body {
    margin: 20px;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: #0082D1;
}

a {
    text-decoration: none;
    color: rgb(255, 216, 0);
}

.wrapper {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#switcher {
    border-radius: 5px;
    font-size: 20px;;
    padding: 5px;
    height: 60px;
    width: 200px;
}

