body {
    margin: 20px;
    height: 100%;
    color: #000;
    background-color: rgb(255, 216, 0);
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#switcher {
    height: 60px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

