.page_body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: rgba(248, 189, 25, 0.918);
  overflow: hidden;
  font-weight: 700;
  font-size: 23px;
}

#titles {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(350px) rotateX(25deg);
}

#titles::after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
  pointer-events: none;
}

#titles_content {
  position: absolute;
  top: 100%;
  animation: scroll 30s linear 0s infinite;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.55, 0.55);
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}

.start {
  text-align: center;
}
