body {
    max-height: 100%;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.wrapper {
    background:url(./img/background.jpg) no-repeat;
    background-size: cover;
    width: 1366px;
}

.container {
    max-width: 1030px;
    margin: auto;
}

.page_nav {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 22px;

}

.logo {
    display: flex;
    align-items: flex-end;
}


.company_logo {
    margin-right: 10px;
    padding-bottom: 4px;
}

.logo_text1 {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.logo_text2 {
    display: block;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.logo:hover .logo_text1,
.logo:hover .logo_text2 {
    color: #F26522;
}

.logo:hover .company_logo {
    filter: sepia(1) hue-rotate(300deg) saturate(200);
}

.logo_text_container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
}

.contacts {
    list-style: none;
    text-decoration: none;
    text-align: right;
}

.contacts_link {
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.contacts_link:hover {
    color: #F26522;
}

.contacts_item:first-child {
    margin-bottom: 19px;
}

.goods_list {
    width: 1030px;
    padding: 0; 
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
    align-items: start;
    row-gap: 37px;
    column-gap: 50px;
    margin: 0;
}

.goods_item {
    list-style: none;
    position: relative;
}

.goods_img {
    display: block;
    object-fit: cover;
    padding: 0;
    margin: 0;
    border: 5px solid #000000;
    border-image: linear-gradient(to left bottom, #FFFFFF, #000);
    border-image-slice: 1;
}

.goods_title {
    margin: 20px 0 0 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.img_info {
    position: absolute;
    left: 0;
    bottom: 38px;
    width: 294px;
    opacity: 0;
    transition: opacity 0.2s;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 7px;
    background: #F26522;
    font-family: 'Roboto', sans-serif;
}

.info_link {
    margin-right: 14px;
}

.img_info .info_text,
.img_info .info_link {
    color: #fff;
    font-size: 10px;
    line-height: 10px;
}

.info_container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.info_container .info_link {
    font-size: 14px;
    line-height: 14px;
    position: relative;
    padding-right: 16px;  
}

.info_link::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 10px;
    bottom:3px;
    right: 0;
    background-image: url(./img/arrow.png);
    background-size: cover;
}

.img_info .price {
    font-size: 20px;
    line-height: 20px;
}

.goods_item:hover .img_info {
    opacity: 1;
    color: #F26522;
}

.goods_item:hover .goods_title {
    color: #F26522;
}

.page_footer {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 49px;
    padding-bottom: 15px;
}