@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./components/header";
@import "./components/banner-section";
@import "./components/recent_posts_section";
@import "./components/instagram-section";
@import "./components/footer";

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
}



.container {
    max-width: 1170px;
    margin: 0 auto;

    @media (max-width: 1199px) {
      max-width: 830px;
    }

    @media (max-width: 767px){
      max-width: 767px;
    }
  }
  

  a {
    text-decoration: none;
    color: inherit;

  }

  a:visited {
    text-decoration: none;
  }
  