.page__footer {
    width: 100%;
    background-color: black;
}

.container__footer {
    @include content-center;
    display: flex;
    flex-direction: column;
}



.footer {
    &__contact-wrapper {
        max-width: 235px;
    }
    &__title {
    color: #FEFEFE;
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-top: 66px;
    @media (max-width: 767px) {
        font-size: 14px;
    }
    }

    &__text {
        padding-top: 22px;
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        max-width: 684px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #B9B9B9;   

        @media (max-width: 767px) {
            display: none;
            &--320px {
            display: flex;
            align-items: center;
            text-align: center;
            color: #B9B9B9; 
            max-width: 303px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
        }
    }
    }

    &__icons {
        max-width: 192px;
        justify-content: space-between;
        padding-top: 37px;
    }

    &__contact {
        display: flex;
        flex-wrap: wrap;
        @include content-center;
        padding-top: 34px;
        padding-bottom: 70px;
        @include footer-contacts;

        @media (max-width: 320px) {
            padding-top: 25px;
            padding-bottom: 47px;
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__tel {
        @include footer-contacts;

        @media (max-width: 320px) {
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__mail {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #B9B9B9;
        text-decoration: none;
        @media (max-width: 320px) {
            font-size: 14px;
            line-height: 24px;
        }
    }
}


