.page__header {
        letter-spacing: 1.1px;
        width: 100%;
        top: 0;
        left: 0;
        padding-top: 24px;
        padding-bottom: 34px;

        @media (max-width: 768px) {
            padding-bottom: 28px;
          }
  
      }
      

.container--header {
        position: relative;
        display: flex;
        @include content-center;
        height: 55px;

        @media (max-width:320px){
          justify-items: right;
      }
        @media (max-width:768px){
            justify-content: right;
        }
      }
      
.header__menu-list {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  gap: 34px;
  margin: 0;
  padding-left: 84px;
  padding-right: 75px;

  @media (max-width: 767px){
    display: none;
    top: 0;
    z-index: 5;
    padding-top: 46px;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    &--active {
      right: 12px;
      width: 170px;
      display: block;
    }
}
}

.header__menu-item {
    list-style: none;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: $title_color;
    width: 100%;

  @media (max-width: 767px) {
    background-color:  #F5F5F5;
    padding-left: 12px;
    padding-top: 4.5px;
    padding-bottom: 1.5px;
    text-align: left;
    margin: 0;
    &:hover {
      background: #E5E5E5;
    }

  }
    &:nth-child(1) {
        color: #57A4A4;
    }
}


.header__nav {
        width: 100%;
        @media (max-width: 767px){
          display: flex;
          justify-content: right;
      }
}
      

.header__burger::before,
.header__burger::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 17px;
    height: 2px;
}
      
.header__burger::before {
    top: 13px;
}
      
.header__burger::after {
    bottom: 14px;
}
      



.header__burger {
    display: none;
    @media (max-width:767px) {
        display: flex;
        justify-content: center;
        border: none;
        position: relative;
        z-index: 5;
        width: 44px;
        height: 37px;
        background-color: black; 

        &--active {
          &::before {
            
            transform: rotate(45deg);
            top: 17px;
            width: 18px;
            
          }
          &::after {
            
            transform: rotate(-45deg);
            bottom: 18px;
            width: 18px;            
          }
        }
    }
}

.header__burger--span {
  position: absolute;
  background-color: white;
  top: 17px;
  width: 17px;
  height: 2px;
  &--active {
    transform: scale(0);
  }
}

