.section__instagram {
    background: #F7F7F7;
    @media (max-width: 320px) {
        background-color: white;
}
}


.section-instagram__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 47px;

    @media (max-width: 767px) {
        padding-top: 0;
    }

}



.section-instagram__title {
    color: $title_color;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    align-items: center;
    margin: 0;

    @media (max-width: 320px) {
    display: none;
}
}

.section-instagram__title--320px {
    display: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: $title_color;
    @media (max-width: 320px) {
        display: block;
}
}

.section-instagram__link {
    font-style: normal;
    font-weight: 700;   
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: $title_color;
    margin: 0;

    @media (max-width:767px){
        display: none;
}
}

.section-instagram__content {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 49px;
    @media (max-width: 767px) {
        justify-content: space-evenly;
    }
    @media (max-width: 320px) {
        justify-content: space-between;
    }
}

.instagram__img {

    @media (max-width: 1199px) {
        width: 249px;
        height: 249px;
        &:nth-child(3) {
            display: none;
        }
    }
    @media (min-width: 1200px) {
        width: 285px;
        height: 285px;
        &:nth-child(3) {
            display: flex;
        }
    }

    @media (max-width:767px) {
        &:nth-child(n+3) {
            display: none;
        }
    }
    
    @media (max-width: 550px) {
        width: 301px;
        height: 301px;
        &:nth-child(n+2) {
            display: none;
        }
    }
}