.section__recent-posts {
    padding: 69px 0;
}

.recent-posts {
    &__title {
        margin: 0;
        color: #4E4E4E;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        align-items: center;

    @media (max-width: 767px){
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
    }
}


    &__item {
        display: flex;
        width: 570px;
        padding-top: 32px;

        @media (max-width: 460px){
        flex-direction: column;
        width: 232px;
        }
    }
    &__img {
        width: 160px;
        height: 140px;
    }
}
    

.container--recent-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
};



.posts__info {
    &-wrapper {
        padding-left: 21px;
        margin: 0;
        align-items: center;

        @media (max-width: 460px) {
            padding: 0;
        }
    }
    &-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        margin: 0;
        color: #4E4E4E;
        @media (max-width: 767px) {
            width: 260px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 30px;
            padding-top: 11px;
            
        }
    }
    &-comments {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #7C7C7C;
        margin: 0;

        @media (max-width: 767px) {
            font-weight: 400;
            font-size: 11px;
            line-height: 20px;
        }
    }
    &-text {
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        align-items: center;
        text-align: left;
        color: #5C5C5C;
        padding-top: 13px;
        margin: 0;
        @media (max-width: 767px) {


            display: none;
        }
    }
}
