.body {
  max-height: 1626px;
  max width: 1280px
  ;
}
.nav_list {
  display: inline-block;
}
.nav_item {
  display: inline;
  margin-left: 135px;
  margin-bottom: 50px;
  
}

.item_link {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  text-transform: ;
  font-size: 18px;
  line-height: 18px;
  vertical-align: top;
  text-decoration: none;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.page_header {
  padding-top: 15px;
}

.page_nav {
  padding-bottom: 22px;
}

.container {
  max-width: 1145px;
  max-height: 650px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  
}
.content_text {
  display: inline;
  text-align: center;
  max-width: 1145px;
  max-height: 132px;
}
img {
  max-width: 100 %;
  height: auto;
  width: 100%;
}

.text_heading {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}
.content_text1 {
  height: 132px;
  width: 1145px;
  left: 67.5px;
  top: 115px;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}
.content_text2 {
  height: 180px;
  width: 1145px;
  left: 67.5px;
  top: 115px;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}


.button {
  
  height: 50px;
  border: 0px;
  background-color: red;
  color: white;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  margin-left: 545px;
  margin-top: 0px;

}

.page_footer {
  margin-top: 60px;
  margin-bottom: 0px;
  margin-right: 105px;
  padding: 20px;
  padding-left: 713px;
 
}
.footer_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  align-items: center;
  letter-spacing: 2.4px;
  text-align: right;
  
}
