@mixin content-center  {
    justify-content: center;
    align-items: center;
}

@mixin footer-contacts {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B9B9B9;
}