.page_body {
  background-image: url(./img/Фон\ 1.png);
  background-repeat: no-repeat;
  width: 1366px;
  height: 770px;
}

.header_section {
  position: absolute;
  width: 1366px;
  height: 58px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_title {
  position: absolute;
  width: 157px;
  height: 22px;
  left: 79px;
  top: 18px;
  margin-top: 0;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header_title:hover {
  color: #01813f;
  transition: 1s;
}

.vector1 {
  position: absolute;
  left: 940px;
  top: 17px;
  fill: white;
  cursor: pointer;
}

.vector1:hover {
  fill: #01813f;
  transition: 1s;
}

.vector2 {
  position: absolute;
  left: 988px;
  top: 17px;
  fill: white;
  cursor: pointer;
}

.vector2:hover {
  fill: #01813f;
  transition: 1s;
}

.vector3 {
  position: absolute;
  left: 1035px;
  top: 17px;
  fill: white;
  cursor: pointer;
}

.vector3:hover {
  fill: #01813f;
  transition: 1s;
}

.header_text1 {
  position: absolute;
  width: 108px;
  height: 22px;
  left: 1111px;
  top: 18px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  margin-top: 0;
  color: #ffffff;
}

.text_span1:hover {
  color: #3cb878;
  cursor: pointer;
  transition: 1s;
}

.text_span2:hover {
  color: #3cb878;
  cursor: pointer;
  transition: 1s;
}

.header_text2 {
  position: absolute;
  width: 78px;
  height: 14px;
  right: 65px;
  top: 22px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-top: 0;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.main_div {
  position: absolute;
  left: 461px;
  top: 112px;
  margin: 0;
  width: 444px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.sign_up_text {
  position: absolute;
  width: 69px;
  height: 14px;
  left: 61px;
  top: 31px;
  margin-top: 0;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #434343;
}

.sign_up_text::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: -61px;
  top: -3px;
  background: #3cb878;
}
.login_text {
  position: absolute;
  width: 39px;
  height: 14px;
  left: 346px;
  top: 33px;
  margin-top: 0;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;

  display: flex;
  align-items: center;

  color: #3cb878;
}

.login_text:hover {
  color: #01813f;
  text-decoration: underline;
}

.button1 {
  position: absolute;
  width: 160px;
  height: 48px;
  left: 60px;
  top: 60px;
  border-radius: 5px;
  border: none;
  background: #305db8;
  color: white;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  padding-left: 61px;
}

.button1:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  left: 48px;
  top: 10px;

  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.button1:hover {
  background: #022263;
  transition: 1s;
}

.facebook_icon {
  position: absolute;
  left: 16px;
  top: 12px;
}

.button2 {
  position: absolute;
  width: 160px;
  height: 48px;
  left: 224px;
  top: 60px;
  border-radius: 5px;
  border: none;
  background: #df4a32;
  color: white;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  padding-left: 80px;
}

.button2:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  left: 54px;
  top: 10px;

  background: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.button2:hover {
  background: #ab1f09;
  transition: 1s;
}

.google_icon {
  position: absolute;
  width: 30px;
  height: 19px;
  left: 12px;
  top: 15px;
}

.or {
  position: absolute;
  width: 15px;
  height: 14px;
  left: 215px;
  top: 125px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #848484;
}

.or::before {
  content: "";
  position: absolute;
  width: 152px;
  height: 0px;
  left: -155px;
  top: 7px;
  border-top: 1px solid #f2f2f2;
}

.or::after {
  content: "";
  position: absolute;
  width: 152px;
  height: 0px;
  left: 16px;
  top: 7px;
  border-top: 1px solid #f2f2f2;
}

.name_input {
  position: absolute;
  width: 300px;
  height: 44.08px;
  left: 60px;
  top: 164.96px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding-left: 19px;
  color: #bebebe;
  font-family: "Ubuntu", sans-serif;
}

.name_input:focus {
  color: black;
  border: none;
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.lastname_input {
  position: absolute;
  width: 300px;
  height: 44px;
  left: 60px;
  top: 225px;
  padding-left: 19px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
}

.lastname_input:focus {
  color: black;
  border: none;
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.email_input {
  position: absolute;
  width: 300px;
  height: 44px;
  left: 60px;
  top: 284px;
  padding-left: 19px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
}

::-webkit-input-placeholder {
  color: #bebebe;
}
:-moz-placeholder {
  color: #bebebe;
}
::-moz-placeholder {
  color: #bebebe;
}
:-ms-input-placeholder {
  color: #bebebe;
}

.email_input:focus {
  color: black;
  border: none;
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.password_input {
  position: absolute;
  width: 300px;
  height: 45px;
  left: 60px;
  top: 343px;
  padding-left: 19px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
}

.password_input:focus {
  color: black;
  border: none;
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.confrim_password_input {
  position: absolute;
  width: 300px;
  height: 45px;
  left: 60px;
  top: 403px;
  padding-left: 19px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
}

.confrim_password_input:focus {
  color: black;
  border: none;
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.checkbox {
  position: relative;
}

.agree {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 470px;
  left: 62px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  appearance: none;
}

.agree_text {
  position: absolute;
  width: 241px;
  height: 20px;
  left: 90px;
  top: 470px;

  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* or 100% */

  display: flex;
  align-items: center;

  color: #434343;
}

.agree_text:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(./img/checkbox.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  left: -25px;
  opacity: 0;
}

.agree:checked + .agree_text:before {
  opacity: 1;
  background-image: url(./img/checkbox2.svg);
  background-repeat: no-repeat;
}

.agree_text_span {
  color: #3cb878;
  cursor: pointer;
}

.agree_text_span:hover {
  color: #01813f;
  text-decoration: underline;
}

.create_button {
  position: absolute;
  width: 324px;
  height: 46px;
  left: 60px;
  top: 510px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;

  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border-radius: 4px;
  border: none;
}

.create_button:hover {
  background: #01813f;
  transition: 1s;
}
