body {
    background-color: white;
    margin: auto auto;
    max-width: 800px;
}

.card {
    border: 2px solid rgba(237, 233, 238, 0.807);

    /* margin-bottom: 20px; */
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
    background-color: rgba(237, 233, 238, 0.807);
}

p,
span,
button {
    margin: 10px;
    text-transform: capitalize;
}

span {
    display: flex;
    align-items: center;
    gap: 10px;
    
    
}



button {
    width: fit-content;
    box-sizing: border-box;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    filter: brightness(.9);
    font-size: 18px;
    color: rgb(7, 17, 17);
}

button:hover {
    filter: brightness(1);
}

img {
    width: 30px;
    height: 30px;
}