.page_header {
  width: 1900px;
}

.navbar {
  display: flex;
  width: 1900px;
  height: 70px;
  left: 0px;
  top: 0px;

  background: #313131;
  margin-bottom: 0;
}
.logo_div {
  width: 124px;
  font-size: 22px;
}
.logo_text {
  position: absolute;
  display: inline-block;
  width: 124px;
  height: 26px;
  left: 67px;
  margin-left: 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
.logo_div::before {
  content: "";
  display: inline-block;
  width: 81px;
  height: 71px;
  background-color: rgba(0, 0, 0, 0.0001);
  background-image: url(/img/logo-img\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.navbar_list {
  display: flex;
  justify-content: space-between;
  width: 722px;
  height: 20px;
  top: 25px;
  margin-left: 474px;
  margin-top: 28px;
}
.navbar_list_item {
  display: inline-block;
  padding: 0;
  height: 16px;
  top: 3px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;

  text-transform: uppercase;

  color: #ffffff;
}
.navbar_list_item:hover {
  color: #14b9d5;
  cursor: pointer;
}

.search_button {
  display: flex;
  margin-left: 470px;
  border: none;
  width: 68px;
  background-image: url(/img/search-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
}

.header_div {
  display: flex;
  text-align: center;
  align-items: center;
  width: 1900px;
  height: 369px;
  left: 0px;
  margin-top: 0;
  margin-bottom: 0px;
  background-image: url(/img/header-bg.jpeg);
  background-repeat: no-repeat;
  background-position-y: -550px;
  background-size: cover;
  background-attachment: fixed;
}

.header_div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.4;
  z-index: 1;
  height: 369px;
  width: 1900px;
  margin-top: 70px;
}
.page_title {
  display: flex;
  text-align: center;
  color: #ffffff;
  margin-left: 658px;
  z-index: 2;
  padding-top: 0;
  font-family: "Open Sans", sans-serif;
}
.header_buttons {
  display: flex;
  position: absolute;
  margin-top: 180px;
  margin-left: 780px;
}

.header_button1 {
  width: 170px;
  height: 55px;
  left: 0px;
  top: 0px;
  z-index: 2;
  background: #89ca62;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  border-radius: 7px;
  font-family: "Open Sans", sans-serif;

  color: #ffffff;
}
.header_button1:hover {
  cursor: pointer;
}
.header_button2 {
  width: 170px;
  height: 55px;
  left: 0px;
  top: 0px;
  z-index: 2;
  border-radius: 7px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;

  color: #ffffff;

  background: #14b9d5;
}
.header_button2:hover {
  cursor: pointer;
}

.posts_section {
  width: 1900px;
  height: 1030px;
  align-items: center;
  background-color: #f2f2f2;
}

.section_title {
  width: 330px;
  height: 33px;
  left: 791px;
  top: 0;
  margin-top: 0px;
  padding-top: 50px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-transform: uppercase;
  margin-left: 791px;
  color: #18b4cf;
  font-family: "Open Sans", sans-serif;
}

.posts_list {
  list-style-type: none;
  margin: 50px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  align-content: center;
  height: 950px;
}

.post_link {
  text-decoration: none;
}

.post_list_item {
  margin: 15px;
  background-color: white;
}

.post_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;

  align-items: flex-end;
  text-align: center;

  color: #353a3d;
}

.clients_section {
  width: 1900px;
  height: 482px;
  left: 0px;
  top: 2px;
  margin-top: 0;
  background-image: url(/img/parallax-bg.jpeg);
  background-position-y: -180px;
  background-repeat: no-repeat;
  padding-top: 106px;
  background-attachment: fixed;
}

.clients_section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.4;
  z-index: 1;
  height: 588px;
  width: 1900px;

  margin-top: 1470px;
}

.clients_section_title {
  position: relative;
  width: 496px;
  height: 44px;
  left: -15px;
  top: -9px;
  margin-top: 14px;
  margin-left: 702px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 10;
  font-family: "Open Sans", sans-serif;
}
.section_line {
  width: 60px;
  height: 3px;
  border: 0;
  background: #18b4cf;
  margin-top: 87px;
  z-index: 10;
  position: relative;
}

.container {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.brands_list {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 58px;
  margin-left: 460px;
  margin-right: 509px;
  margin-top: 110px;
  margin-bottom: 500px;
  align-items: center;
  margin-bottom: 500px;
  z-index: 5;
}

.brand_item {
  z-index: 3;
}

.top_rated_section {
  height: 277px;
  width: 1900px;
  margin-top: 0;
  padding-top: 49px;
  margin-bottom: 0;
}

.top_rated_section_title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 868px;
  width: 177px;
  height: 33px;
  left: 868px;
  top: 51px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  font-family: "Open Sans", sans-serif;
}

.top_rated_list {
  display: grid;
  position: inline;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: -10px;

  margin-left: 2px;
  margin-right: 2px;

  list-style: none;
  padding-left: 0;
  padding: 0;
  position: relative;
  margin-top: 52px;
  margin-bottom: 0;
}

.top_rated_item {
  margin: 0;
  padding: 0;
  height: 190px;
}

.news_section {
  height: 1683px;
  width: 1900px;
  padding-top: 48px;
}

.news_section_title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 873px;
  width: 170px;
  height: 33px;
  left: 873px;
  top: 48px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  font-family: "Open Sans", sans-serif;
}

.news_list1 {
  display: grid;
  height: 259px;
  width: 1177px;
  padding: 0;

  list-style: none;
  grid-template-columns: auto auto;

  justify-items: left;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-top: 51px;

  margin-left: 373px;
  margin-bottom: 44px;
}
.news_list2 {
  display: grid;
  height: 836px;
  width: 1177px;
  padding: 0;
  list-style: none;
  justify-items: left;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 373px;
  margin-top: 34px;
  margin-bottom: 44px;
}

.news_list3 {
  display: grid;
  height: 259px;
  width: 1177px;
  padding: 0;
  list-style: none;
  grid-template-columns: auto auto;
  justify-items: left;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-top: 81px;
  margin-left: 338px;
}

.news_list_item1 {
  width: 856px;
  height: 259px;
  left: 1px;
  top: 0px;
  margin-bottom: 46px;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news_list_item_title1 {
  margin-right: 24px;
  display: inline-block;
  position: absolute;
  padding: 0;
  margin-top: 41px;
  width: 319px;
  height: 23px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #353a3d;
  font-family: "Open Sans", sans-serif;
}

.news_text1 {
  display: inline-flex;

  position: absolute;
  margin-top: 79px;
  margin-bottom: 41px;
  margin-right: 24px;
  margin-left: 5px;
  width: 360px;
  height: 140px;
  text-align: right;
  vertical-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.news_list_item2 {
  margin-left: 35px;
  width: 277px;
  height: 258px;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news_item2_div {
  width: 277px;
  height: 240px;
}

.news_section_title2 {
  width: 223px;
  height: 23px;
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
  margin-left: 27px;
  margin-bottom: 11px;
  text-align: center;
  color: #353a3d;
  font-family: "Open Sans", sans-serif;
}

.news_list_item3 {
  width: 554px;
  height: 418px;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  text-align: right;
  margin-bottom: 46px;
  margin-right: 60px;
}

.news_section_title3 {
  padding-top: 0;
  width: 325px;
  height: 23px;
  margin-left: 215px;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  font-family: "Open Sans", sans-serif;
}

.news_text3 {
  width: 530px;
  height: 104px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  text-align: right;
  margin-left: 13px;
  font-family: "Open Sans", sans-serif;
}

.news_list_item8 {
  width: 856px;
  height: 259px;
  left: 1px;
  top: 0px;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  justify-self: start;
  margin-left: 35px;
}

.news_section_title8 {
  margin-right: 24px;
  display: inline-block;
  position: absolute;
  padding: 0;
  margin-top: 41px;
  width: 319px;
  height: 23px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #353a3d;
  font-family: "Open Sans", sans-serif;
}

.news_text8 {
  display: inline-flex;

  position: absolute;
  margin-top: 79px;
  margin-bottom: 41px;
  margin-right: 24px;
  margin-left: 5px;
  width: 360px;
  height: 140px;
  text-align: right;
  vertical-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.footer_section {
  width: 1929px;
  height: 50px;
  left: 0px;
  top: 0px;
  background-color: #000000;
  padding-top: 30px;
  align-content: center;
  display: flex;
}

.footer_text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  width: 512px;
  height: 21px;
  margin-left: 367px;
  top: 29px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  display: inline-block;
  align-items: center;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.footer_image1 {
  margin-left: 559px;
  display: inline-flex;
}

.footer_image2 {
  display: inline-block;
}
