.page_body {
  width: 1366px;
  height: 768px;
  background-image: url(./img/background\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.wrapper {
  display: grid;
  position: absolute;
  /* margin: auto; */
  justify-content: center;
  left: 45%;
  right: 55%;
}

.header_title1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  align-items: center;
  width: 120px;
  height: 30px;
  color: #ffffff;
  margin-left: 222px;
  margin-top: 51px;
  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
}

.header_logo_img {
  display: inline-block;
  position: absolute;
  top: 51px;
  left: -435px;
}

.header_title2 {
  width: 135px;
  height: 21px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  color: #ffffff;
  margin-left: 222px;
  margin-top: 0;
}

.header_link {
  text-decoration: none;
}

.header_link {
  display: inline-block;
  width: 0;
  padding-bottom: 0;
}

.header_link:hover #hover1 {
  filter: sepia(1) hue-rotate(300deg) saturate(200);
}

.header_mail {
  width: 219px;
  height: 21px;
  left: 335px;
  top: 46px;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  position: absolute;

  color: #ffffff;
}

.header_mail:hover {
  color: #f26522;
}

.header_number {
  position: absolute;
  width: 146px;
  height: 21px;
  left: 407px;
  top: 86px;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header_number:hover {
  color: #f26522;
}

.tour_list {
  list-style: none;
  display: grid;
  width: 1030px;
  height: 560px;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 159px;
  margin-top: 17px;
  padding: 0;
  z-index: 1;
}

.tour_item {
  width: 300px;
  margin-bottom: 37px;
  position: relative;
  z-index: 1;
}

.tour_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
}

.tour_text:hover {
  color: #f26522;
}

.tour_img {
  position: relative;
  z-index: 11;
  height: 220px;
}

.tour_info {
  position: absolute;
  top: 175px;
  opacity: 0;
  width: 300px;
  height: 55px;
  z-index: 10;
}

.tour_info:hover {
  background: #f26522;
  position: absolute;
  z-index: 13;
  opacity: 1;
  top: 167px;
}

.tour_img:hover ~ .tour_info {
  background: #f26522;
  z-index: 13;
  transition: 1.2s;
  opacity: 1;
  transform: translatey(-20%);
  position: absolute;
}

.tour_link {
  text-decoration: none;
}

.tour_img:hover ~ .tour_text {
  color: #f26522;
}

.tour_info_text1 {
  position: absolute;
  width: 22px;
  height: 14px;
  left: 21px;
  top: 11px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.tour_info_text2 {
  position: absolute;
  width: 36px;
  height: 14px;
  left: 21px;
  top: 33px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.tour_info_text3 {
  position: absolute;
  width: 78px;
  height: 14px;
  left: 185px;
  top: 33px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.tour_info_text3::after {
  content: "";
  background-image: url(/img/Vector\ 1.png);
  position: absolute;
  width: 8px;
  height: 13px;
  left: 95px;

  border: none;
}

.footer_text {
  position: absolute;
  width: 306px;
  height: 21px;
  left: -90px;
  top: 720px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
