.wrapper {
    width: 1920px;
    background-color:  #171717;
}

.header_div {
    height: 87px;
    
}

.logo {
    position: absolute;
    width: 216px;
    height: 33px;
    left: 230px;
    top: 46px;

}

.phone_number {
    color: #D6AF76;
    position: absolute;
    width: 163px;
    height: 29px;
    left: 1270px;
    top: 50px;
    margin: 0;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    
}

.phone_number_span {
    color: #FFFFFF;;
}

.call_button {
    position: absolute;
    width: 218px;
    height: 50px;
    left: 1472px;
    top: 37px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Circe';
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    background-color: #171717;
    border: 1px solid #E4B564;
    font-weight: 400;
}

.call_button:hover {
    cursor: pointer;
}

.heating_network_title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    padding-left: 230px;
    padding-top: 120px;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
    font-family: 'Gilam', sans-serif;
}

.heating_network_text {
    width: 1182px;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-left: 230px;
    margin-top: 0;
    padding-top: 41px;
    height: 56px;
}

.heating_network_elements {
    padding-top: 41px;
    padding-left: 230px;
    padding-right: 230px;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;

}

.heating_network_square1 {
    height: 468px;
    background: #634F2C;
    display: flex;
    width: 467px;
    align-items: center;
    justify-content: center;
    




}

.heating_network_square2 {
    
    height: 468px;
    background: #B4A385;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 44px;
    padding-right: 43px;

}



.heating_network_square3 {
    width: 467px;
    height: 468px;
    background: #E4B564;
    display: flex;
    align-items: center;
    justify-content: center;

}

.heating_network_elements2 {
    display: grid;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 27px;
    margin: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    
}

.heating_network_rectangle1 {
    width: 715px;
    height: 468px;
    background: #635A4A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heating_network_rectangle2 {
    width: 715px;
    height: 468px;
    background: #B08C4D;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.heating_network_element_text {
    text-align: center;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
}

.park_section_title {
    padding-top: 136px;
    padding-left: 230px;
    margin-bottom: 0;
    padding-bottom: 94px;
    height: 28px;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
}

.park_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 191px;
}

.park_elements1 {
    display: flex;
    height: 897px;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 230px;
    flex-wrap: wrap;
    width: 964px;
}

.park_item1 {
    width: 467px;
    height: 313px;
    background: #0E0E0E;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    color: #FFFFFF;
}

.park_item_text {
    padding-top: 44px;
    padding-left: 52px;
    margin-right: 0;
    width: 302px;
    margin: 0;
    font-style: normal;
    font-family: 'Gilam', sans-serif;    
    font-size: 20px;
    line-height: 25px;
}

.park_item2 {
    width: 467px;
    height: 439px;
    background: #242424;
    margin-left: 30px;
    color: #FFFFFF;
}

.park_item3 {
    width: 467px;
    height: 560px;
    background: #1F1F1F;
    margin-top: 0;
    margin-top: 24px;
    color: #FFFFFF;
}

.park_item4 {
    width: 467px;
    height: 405px;
    background: #E4B564;
    margin-top: 24px;
    margin-left: 30px;
    font-weight: 500;
    color: #000000;
}

.park_elements2 {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 897px;
}

.park_item5 {
    height: 255px;
    background: #1F1F1F;
    color: #FFFFFF;
    width: 467px;
}

.park_item6 {
    width: 467px;
    height: 313px;
    background: #0E0E0E;
    color: #FFFFFF;
}

.park_item7 {
    width: 467px;
    height: 277px;
    background: #0A0909;
    color: #FFFFFF;
    font-weight: 700;
}

.clients_section {
    background-color:#0E0E0E;
    display: flex;
    width: 1920px;
    flex-wrap: wrap;
    background: url(/img/parallax-bg.jpeg);
    background-attachment: fixed;
    z-index: 3;
}

.clients_section::after {
    content: "";
    width: 1920px;
    height: 1065px;
    background-color: #0A0909;
    position: absolute;
    opacity: 0.7;
    z-index: 2;
}

.clients_section_title {
    padding-left: 230px;
    padding-top: 172px;
    margin: 0;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    z-index: 5;
}

.clients_button {
    margin-top: 161px;
    height: 50px;
    left: 1508px;
    margin-left: 683px;
    color: #E4B564;
    background-color:#0E0E0E;
    border: 1px solid #E4B564;
    z-index: 5;
    width: 180px;


}

.clients_button:hover {
    cursor: pointer;
}


.clients_list {
    width: 1460px;
    height: 782px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 230px;
    padding-top: 72px;
}

.clients_item1 {
    width: 487px;
    height: 391px;
    background: #634F2C;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.clients_item2 {
    height: 391px;
    width: 486px;
    background: rgba(232, 210, 171, 0.76);
    z-index: 5;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
}

.clients_item2_text {
    width: 326px;
    height: 140px;
    font-family: 'Gilam', sans-serif;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
}

.clients_item3 {
    width: 487px;
    height: 391px;
    background: #E4B564;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients_item4 {
    width: 487px;
    height: 391px;
    background: #635A4A;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients_item5 {
    height: 391px;
    background: #B08C4D;
    z-index: 5;
    display: flex;
    width: 486px;
    align-items: center;
    justify-content: center;
}

.clients_item6 {
    width: 487px;
    height: 391px;
    background: #634F2C;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer {
    height: 239px;
    background-color: 
    #171717;
}

main {
    margin-top: 25px;
    background: url(/img/header-bg.jpeg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    background-size: cover;
    background-attachment: fixed;
}

.heating_network_section:after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    opacity: 0.3;
    z-index: 2;
    width: 1920px;
    height: 2648px;
}

#index {
    position: relative;
    z-index: 3;
}

p {
    z-index: 3;
}

h1 {
    z-index: 3;
}
