.input:focus {
  outline: none;
  border: 3px solid green;
}

.input {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 4px;
}

.span {
  display: inline;
}

.invalid {
  outline: none;
  border-color: red;
}

#text {
  display: inline;
}
